@charset "UTF-8";
/*
    
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important; } }

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: green;
  color: white; }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  appearance: none; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* (Probándolo, no usar en producción) En el caso de añadir una  */
p svg {
  display: inline;
  width: initial; }

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale; }

body {
  background-image: url(../img/5-dots.png);
  background-position: cover;
  font-family: "ubuntu", sans-serif; }

.titulo {
  font-size: 2rem;
  color: #ffff;
  text-align: center;
  margin-top: 3rem; }

.registro__contenedor {
  width: 60vw;
  background-color: #567339;
  margin: 3rem auto;
  padding-bottom: 1rem;
  border-radius: .5rem; }

.registro__titulo {
  font-size: 1.2rem;
  padding-top: 2rem;
  text-align: center; }

.formulario {
  background-color: #010D00;
  border-radius: .5rem;
  margin: 3rem auto;
  padding: 1.5rem 0;
  width: 70%;
  color: #010D00; }
  .formulario__name {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-around; }
    .formulario__name-label {
      padding: .5rem 0;
      color: #ffff; }
    .formulario__name-input {
      background-color: #97BF5A;
      border-radius: .5rem;
      border: none;
      padding: .5rem 2rem;
      text-align: center;
      position: relative;
      left: .6rem; }
  .formulario__password {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-around; }
    .formulario__password-label {
      padding: .5rem 0;
      color: #ffff; }
    .formulario__password-input {
      background-color: #97BF5A;
      border-radius: .5rem;
      border: none;
      padding: .5rem 2rem;
      text-align: center; }
  .formulario__boton {
    background-color: #97BF5A;
    margin: 0rem auto;
    margin-top: 3rem;
    padding: .5rem 10rem;
    border-radius: .5rem; }
    .formulario__boton:hover {
      background-color: #7DBF3B; }

input::placeholder {
  color: #1a1a1a;
  color-scheme: #010D00;
  border: none; }

.respuesta__registro {
  width: 70%;
  height: 1rem;
  margin: .2rem auto; }

.respuesta__registro p {
  text-align: center; }
