@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

//Variable fuente

$fuente : 'ubuntu', sans-serif;

//Variables weight

$light : 300;
$medium : 500;
$Bold : 700;

//Variables de colores

$Negro: #010D00;
$verde-lima: #7DBF3B;
$verde-oscuro: #567339;
$verde-melon: #97BF5A;
$blanco: #ffff;



