@import "_reset.scss";
@import "_fonts.scss";


body{
   background-image: url(../img/5-dots.png);
   background-position: cover;
   font-family: $fuente;
   color: $blanco;
}

.contenedor__cajas{
   display: flex;
   justify-content: space-evenly;
}


.titulo{
   font-size: 2rem;
   color: $blanco;
   text-align: center;
   margin-top: 3rem;
}

.descripcion{
   color: $blanco;
   text-align: center;
}

.titulo__botones{
   color: $blanco;
   font-size: 1.2rem;
   text-align: center;
   margin-top: 3.5rem;
}

.registro__contenedor{
   //width: 60vw;
   background-color: $verde-oscuro;
   margin: 3rem 3rem;
   padding: 1rem;
   border-radius: .5rem;
}

.registro__titulo{
   font-size: 1.2rem;
   padding-top: 2rem;
   text-align: center;
}

.formulario{
   background-color: $Negro;
   border-radius: .5rem;
   margin: 3rem 2rem;
   padding: 1.5rem 1.5rem;

   color: $Negro;

   &__name{
      display: flex;
      padding: 1.5rem 0;
      justify-content: space-around;

      &-label{
         padding: .5rem 0;
         color: $blanco;
      }

      &-input{
         background-color: $verde-melon;
         border-radius: .5rem;
         border: none;
         padding: .5rem 1rem;
         text-align: center;
         position: relative;
         left: .6rem;
      }
   }
   
   &__password{
      display: flex;
      padding: 1.5rem 0;
      justify-content: space-around;

      &-label{
         padding: .5rem 0;
         color: $blanco;
         margin-right: .5rem;
      }

      &-input{
         background-color: $verde-melon;
         border-radius: .5rem;
         border: none;
         padding: .5rem 1rem;
         text-align: center;
      }
   }


   &__boton{
      background-color: $verde-melon;
      margin: 0rem auto ;
      margin-top: 3rem;
      padding: .5rem 3rem;
      border-radius: .5rem;

      &:hover{
         background-color: $verde-lima;
      }
   }
}

input::placeholder{
   color: rgb(26, 26, 26);
   color-scheme: $Negro;
   border: none;
}

.respuesta__evento{
   width: 70%;
   margin: .2rem auto;
}

.respuesta__evento p{
   text-align: center;
   color: $verde-lima;
   font-size: 1.3rem;
}


// ---------------------------------------------------------------------------INICIO DE SESION-----------------------------------------------------------


.inicio__contenedor{
   //width: 60vw;
   background-color: $verde-oscuro;
   margin: 3rem 3rem;
   padding: 1rem;
   border-radius: .5rem;
}


.inicio__titulo{
   font-size: 1.2rem;
   padding-top: 2rem;
   text-align: center;
}

.active{
   display:none;
}
.contenedor__botones{
   display: flex;
   justify-content: center;
   margin: .5rem 0;
}

.iniciar__btn{
   background-color: $verde-melon;
   margin: 1rem 2rem;
   padding: 1rem 3rem;
   border-radius: .3rem;
   font-size: 1.2rem;
}

.registrar__btn{
   background-color: $verde-melon;
   margin: 1rem 2rem;
   padding: 1rem 3rem;
   border-radius: .3rem;
   font-size: 1.2rem;
}

.respuesta__ingreso{
   text-align: center;
   color: $verde-lima;
   font-size: 2.5rem;
}
// ---------------------------------------------------------------------------SECCION INGRESO-----------------------------------------------------------

.seccion__ver-planes {
   text-align: center;
   margin-top: 3rem;
}
.titulo__ingreso{
   font-size: 2rem;
}

.boton__ver-planes{
   margin: 1rem auto;
   padding: .5rem 2rem;
   background-color: $verde-lima;
   border-radius: 1rem;

}

// ---------------------------------------------------------------------------CARDS PLANES-----------------------------------------------------------

.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin: 3rem 5rem;
   row-gap: 1.5rem;
   column-gap: 1.5rem;

   &__item{
      min-width:350px;
      display: grid;
      border: 1px solid #d3d3d3c9;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);

      &-img{
         //solucionar desbordamiento
         //height: 165px;
      }

      &-title{
         text-align: center;
         font-size: 1.8rem;
         font-weight: 700;
         padding: .7rem 0;
         background-color:$verde-oscuro;
         //color: $dark__black;
      }

      &-content{
         display: flex;
         text-align: center;
         justify-content: center;

         &__columns{
            width: 100%;
            padding: 1rem 0;

            &-h3{
               font-weight:700;
            }

            &-p{
               font-size: 1.8rem;
               font-weight: 900;
               color: #ff9500;
               padding: 0.5rem 0;
            }

            &-ul{
               padding: .5rem 0;
               font-weight: 300;
            }
         }
      }

      &-price{
         //font-family: $principal;
         text-align: center;
         font-size: 2.0rem;
         padding: .5rem 0;
         font-weight: bold;
         border-top: 1px solid #d3d3d3c9;
         border-bottom: 1px solid #d3d3d3c9;

         &_b{
            font-size: .8rem;
            font-weight: 400;
         }
      }

      &-buttons{
         //font-family: $principal;
         font-weight: 700;
         display: flex;
         text-align: center;
         padding: 1rem 0;
         justify-content: space-evenly;

         &_detalles{
            border-radius: 10px;
            padding: .5rem 1rem;
            background-color: $verde-oscuro;
            //color: #000;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);

            &:hover{
               //background-color: $dark__orange;
            }
         }

         &_comprar{
            border-radius: 10px;
            padding: .5rem 1rem;
            //background-color: $light__green;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);

            &:hover{
               //background-color: $dark__green;
            }
         }

      }
   }
}



