@import "_reset.scss";
@import "_fonts.scss";


body{
   background-image: url(../img/5-dots.png);
   background-position: cover;
   font-family: $fuente;
}

.contenedor__cajas{
   display: flex;
   justify-content: space-evenly;
}


.titulo{
   font-size: 2rem;
   color: $blanco;
   text-align: center;
   margin-top: 3rem;
}

.descripcion{
   color: $blanco;
   text-align: center;
}

.titulo__botones{
   color: $blanco;
   font-size: 1.2rem;
   text-align: center;
   margin-top: 3.5rem;
}

.registro__contenedor{
   //width: 60vw;
   background-color: $verde-oscuro;
   margin: 3rem 3rem;
   padding: 1rem;
   border-radius: .5rem;
}

.registro__titulo{
   font-size: 1.2rem;
   padding-top: 2rem;
   text-align: center;
}

.formulario{
   background-color: $Negro;
   border-radius: .5rem;
   margin: 3rem 2rem;
   padding: 1.5rem 1.5rem;

   color: $Negro;

   &__name{
      display: flex;
      padding: 1.5rem 0;
      justify-content: space-around;

      &-label{
         padding: .5rem 0;
         color: $blanco;
      }

      &-input{
         background-color: $verde-melon;
         border-radius: .5rem;
         border: none;
         padding: .5rem 1rem;
         text-align: center;
         position: relative;
         left: .6rem;
      }
   }
   
   &__password{
      display: flex;
      padding: 1.5rem 0;
      justify-content: space-around;

      &-label{
         padding: .5rem 0;
         color: $blanco;
         margin-right: .5rem;
      }

      &-input{
         background-color: $verde-melon;
         border-radius: .5rem;
         border: none;
         padding: .5rem 1rem;
         text-align: center;
      }
   }


   &__boton{
      background-color: $verde-melon;
      margin: 0rem auto ;
      margin-top: 3rem;
      padding: .5rem 3rem;
      border-radius: .5rem;

      &:hover{
         background-color: $verde-lima;
      }
   }
}

input::placeholder{
   color: rgb(26, 26, 26);
   color-scheme: $Negro;
   border: none;
}

.respuesta__registro{
   width: 70%;
   margin: .2rem auto;
}

.respuesta__registro p{
   text-align: center;
}


// ---------------------------------------------------------------------------INICIO DE SESION-----------------------------------------------------------


.inicio__contenedor{
   //width: 60vw;
   background-color: $verde-oscuro;
   margin: 3rem 3rem;
   padding: 1rem;
   border-radius: .5rem;
}


.inicio__titulo{
   font-size: 1.2rem;
   padding-top: 2rem;
   text-align: center;
}

.active{
   display:none;
}
.contenedor__botones{
   display: flex;
   justify-content: center;
   margin: .5rem 0;
}

.iniciar__btn{
   background-color: $verde-melon;
   margin: 1rem 2rem;
   padding: 1rem 3rem;
   border-radius: .3rem;
   font-size: 1.2rem;
}

.registrar__btn{
   background-color: $verde-melon;
   margin: 1rem 2rem;
   padding: 1rem 3rem;
   border-radius: .3rem;
   font-size: 1.2rem;
}

.respuesta__ingreso{
   text-align: center;
   color: $verde-lima;
   font-size: 2.5rem;
}